p{
    margin: 0;
}

/* Layout */

.l-container{
    max-width: 290px;
    margin: 0 auto;
    padding: 2em 0;
    position: relative;}

.l-container-no-padding{
    padding: 0 0;
    position: relative;}

.site-branding{
    max-width:250px;
}

/* Modules */

#masthead{
    background-color: black;
    padding: 15px 0px;}

#masthead .m-hamburger{
    position: absolute;
        top: 0;
        right: 0;
}

.m-hamburger{
    display: inline-block;}

.m-hamburger > figure{
    background-color: white;
    display: block;
    height: 1px;
    width: 30px;
    margin: 0px 0px 8px 0px;
    position: relative;
    transition: 0.5s;}

.m-hamburger > figure:nth-of-type(1){
    top: 0;
    transform: translate();}

.m-hamburger > figure:nth-of-type(2){
    transform: translate();}

.m-hamburger > figure:nth-of-type(3){
    bottom: 0;
    transform: translate();}

.m-overlay{
    position: relative;}

.m-overlay::after{
    background-color: yellow;
    content: "";
    mix-blend-mode: multiply;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
        top: 0;
    height: 100%;
    width: 100%;
}










.eventtext-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer a{
    text-decoration: none;
    color: white;
}

#site-navigation{
    position: absolute;
    top: 35px;
    right:0;
    display: block;

}

.Container {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    position: absolute;
    top:0;
    right:0;
}

#menu {
    visibility: hidden;
}

label {
    width: 30px;
    height: 1.4px;
    background-color: #FFF;
    transition: 0.6s;
    position: fixed;
    top: 44px;
}

label:before {
  content: "";
  width: 30px;
  height: 1.4px;
  background: #fff;
  position: absolute;
  transform: translateY(-10px);
  transition: 0.6s;
}

label:after {
  content: "";
  width: 30px;
  height: 1.4px;
  background: #fff;
  position: absolute;
  transform: translateY(10px);
  transition: 0.6s;
}

#menu:checked + label {
  width: 0px;
}

#menu:checked + label:before {
  transform: rotate(45deg) translate(0px);
  translate(0px);
}

#menu:checked + label:after {
  transform: rotate(-45deg) translate(0px);
  translate(0px);
}

/* States */
.m-hamburger.s-active > figure:nth-of-type(1){
    top: 9px;
    transform: rotateZ(-45deg);
    transition: 0.5s top 0s ease-in-out, 0.5s transform 0.5s ease-in-out;}
.m-hamburger.s-active > figure:nth-of-type(2){
    transform: rotateZ(-45deg);
    transition: 0.5s transform 0.5s ease-in-out;}
.m-hamburger.s-active > figure:nth-of-type(3){
    bottom: 9px;
    transform: rotateZ(45deg);
    transition: 0.5s bottom 0s ease-in-out, 0.5s transform 0.5s ease-in-out;}


/* Themes */

.theme-dark{
    background-color: black;
    color: white;
}

.theme-light{
    background-color: white;
    color: black;
}